//root element mean that this styles didn't affect any other styles in the project
.users_page
  //This mean "user_index" class on user page, and on any otter page will be two different classes
  .user_index
    margin-right 5px
  .remove_btn
    float right