.navbar.navbar-default.pages_header
    .container
        ul.nav.navbar-nav
            li(ng-class!="{active: $state.includes('users')}")
                a(href="", ui-sref="users", ui-sref-opts="{reload: true}") Users
            li(ng-class!="{active: $state.includes('other')}")
                a(href="", ui-sref="other", ui-sref-opts="{reload: true}") Other