.navbar.navbar-inverse.pages_header
    .navbar-inner
        .container
            ul.nav.navbar-nav
                li(ng-class!="{active: $state.includes('users')}")
                    button(type="button", ui-sref="users", ui-sref-opts="{reload: true}") Users
                li(ng-class!="{active: $state.includes('other')}")
                    button(type="button", ui-sref="other", ui-sref-opts="{reload: true}") Other